.wrapper {
  background-color: #5B7C9A;
  width: 100000000;
  height: 100000000;
}

.header {
  background-color: #475E7399;
  color: #333333;
  allign: center;
}

.mainBody {
  padding-left: 3px;
  font-size: 12px;
}

.nav {
  float: left;
  allign: center;
  font-size: 10px;
  color: 000000;
}

.logo {
  width: 200px;
  height: 200px;
  float: left;
}
