.wrapper {
  background-color: #5B7C9A;
  width: 100%;
  height: 100%;
}

.header {
  background-color: #475E7399;
  color: #333333;
  allign: center;
}

.body {
  color: #333333;
}

.mainBody {
  margin-left: 200px;
  padding: 0px 10px;
  font-size: 15px;
}

.nav {
  float: left;
  allign: center;
  font-size: 15px;
  height: 100%;
  width: 200px;
  position: fixed;
  allign: center;
}

.nav a:hover {
  color: #666666;
  font-size: 20px;
}

.logo {
  width: 200px;
  height: 200px;
  float: left;
}
